<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .centered-image {
            display: block;
            margin: 0 auto;
            max-width: 80%;
            height: auto;
        }
        .centered-iframe {
            width: 100%;
            height: 750px;
            frameborder: 0;
        }
    </style>
</head>
<body>
    <p>Return to the <a href="{{ url_for('menu') }}">main menu</a>.</p>
    <iframe src="https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/1236381664709521/4080437017413392/4100734179247936/latest.html" class="centered-iframe"></iframe>
</body>
</html>
